<div class="container" ng-controller="AddFreqItemCtrl">
  <div class="page-header">
    <h3>Edit your most frequently bought groceries...</h3>
  </div>

  <p class="lead">
  <table class="table table-striped">
    <!--<tr>
      <td><b>Grocery</b></td>
      <td>Quantity</td>
      <td>Measure</td>
      <td>Frequency</td>
      <td>Last Bought</td>
      <td>Category</td>
      <td></td>
    </tr>-->
    <tr ng-repeat="grocery in groceries">
      <td style="display:none;">{{grocery.id}}</td>
      <td><b>{{grocery.grocery}}</b></td>
      <td>{{grocery.quantity}}</td>
      <td>{{grocery.measure}}</td>
      <td>{{grocery.interval}}</td>
      <td>{{grocery.lastBought}}</td>
      <td>{{grocery.category}}</td>
      <td><p><a href="/#/editItem" ng-click="EditItem(grocery)">Edit Item</a></p></td>
    </tr>
  <tr>
    <td><input type="text" class="form-control" id="newGrocery" placeholder="Grocery name" ng-model="grocery"></td>
    <td>
      <select ng-model="quantity">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
      </select>
    </td>
    <td>
      <select ng-model="measure">
        <option value="cups">cups</option>
        <option value="bags">bags</option>
        <option value="bottles">bottles</option>
        <option value="jars">jars</option>
        <option value="gallons">gallons</option>
        <option value="crates">crates</option>
        <option value="boxes">boxes</option>
        <option value="packs">packs</option>
      </select>
    </td>
    <td>
      <select ng-model="interval">
        <option value="weekly">weekly</option>
        <option value="bi-weekly">bi-weekly</option>
        <option value="Monthly">Monthly</option>
    </select></td>
    <td>
      <p><input type="text" id="datepicker" ng-model="lastBought"></p>
    </td>
    <td>
      <select ng-model="category">
        <option value="Dairy">Dairy</option>
        <option value="Meat">Meat</option>
        <option value="Grains">Grains</option>
        <option value="Baby">Baby</option>
        <option value="Toiletries">Toiletries</option>
      </select>
    </td>
    <td>
      <p><a ng-click="updateItems()">Add Item</a></p>
    </td>
  </tr>
  </table>
  <a class="btn btn-warning btn-xs" href="/#/Frequent"> Done! </a>
  </p>

</div>
