<div class="container" ng-controller="EditSettingsCtrl">
    <div class="col-sm-6 col-sm-offset-3">
        <h1><span class="fa fa-sign-in"></span>Settings</h1>
        <!-- Settings form -->
        <div class="form-group">
            <label>How often would you like your grocery list generated?</label>
            <select ng-model="shopnFreq">
            <option value="weekly" selected="selected">weekly</option>
            <option value="bi-weekly">bi-weekly</option>
            <option value="Monthly">Monthly</option>
            </select>
        </div>
        <div class="form-group">
            <label>What day of the week will you like to go shopping?</label>
            <select ng-model="shoppingDay">
                <option selected value="Monday">Monday</option>
                <option value="Tuesday">Tuesday</option>
                <option value="Wednesday">Wednesday</option>
                <option value="Thursday">Thursday</option>
                <option value="Friday" selected="selected">Friday</option>
                <option value="Saturday">Saturday</option>
                <option value="Sunday">Sunday</option>
            </select>
        </div>
        <div class="form-group">
            <label>Would you like an email reminder?</label>
            <select ng-model="emailReminder">
                <option value="yes" selected="selected">Yes</option>
                <option value="no">No</option>
            </select>
        </div>
        <button type="button" ng-click="saveSettings()" class="btn btn-warning btn-sm">Save</button>
        <button type="button" ng-click="cancelEdit()" class="btn btn-warning btn-sm">Cancel</button>
    </div>
</div>
