<div class="container" ng-controller="LoginCtrl">
  <div class="col-sm-6 col-sm-offset-3">
    <h1><span class="fa fa-sign-in"></span> Edit your grocery item</h1>
    <!-- Edit form -->
    <div class="form-group">
      <label>Grocery name</label>
      <input type="text" class="form-control" id="grocery" placeholder="grocery.grocery" ng-model="grocery.grocery">
    </div>
    <div class="form-group">
      <label>Quantity</label>
      <input type="text" class="form-control"  id="quantity" placeholder="grocery.quantity" ng-model="grocery.quantity">
    </div>
    <div class="form-group">
      <label>Measure</label>
      <input type="text" class="form-control"  id="measure" placeholder="grocery.measure" ng-model="grocery.measure">
    </div>
    <div class="form-group">
      <label>Interval</label>
      <input type="text" class="form-control"  id="interval" placeholder="grocery.interval" ng-model="grocery.interval">
    </div>
    <div class="form-group">
      <label>Last Bought</label>
      <input type="text" class="form-control"  id="lastBought" placeholder="grocery.lastBought" ng-model="grocery.lastBought">
    </div>
    <div class="form-group">
      <label>Category</label>
      <input type="text" class="form-control"  id="category" placeholder="grocery.category" ng-model="grocery.category">
    </div>
    <button type="button" ng-click="saveEdit(grocery.id)" class="btn btn-warning btn-lg">Save</button>
  </div>
</div>
