<div class="container" ng-controller="FreqItemsCtrl">
  <div class="page-header">
    <h3>These are your most frequently bought groceries...</h3>
  </div>

  <p class="lead">
  <div class="col-xs-2">
    <input type="text" class="form-control" id="search" placeholder="Enter a search term" width="10px" ng-model="query">
  </div>

  <table class="table table-striped">
     <!-- <tr>
        <td><b>Grocery</b></td>
        <td>Quantity</td>
        <td>Measure</td>
        <td>Frequency</td>
        <td>Last Bought</td>
        <td>Category</td>
      </tr> -->
      <label>{{message}}</label>
      <tr ng-repeat="grocery in groceries | filter:query">
        <td><b>{{grocery.grocery}}</b></td>
        <td>{{grocery.quantity}}</td>
        <td>{{grocery.measure}}</td>
        <td>{{grocery.interval}}</td>
        <td>{{grocery.lastBought}}</td>
        <td>{{grocery.category}}</td>
      </tr>
    </table>
  <a class="btn btn-warning btn-xs" href="/#/AddFrequentItem"> Edit Frequent Groceries </a>
  </p>

</div>
