<div class="container" ng-controller="GroceryListsCtrl">
  <div class="page-header">
    <h3>These are all your past grocery lists...</h3>
  </div>

  <p class="lead">

  <table class="table table-striped">
    <!-- <tr>
       <td><b>Grocery</b></td>
       <td>Quantity</td>
       <td>Measure</td>
       <td>Frequency</td>
       <td>Last Bought</td>
       <td>Category</td>
     </tr> -->
    <tr ng-repeat="list in lists">
      <td><b>{{list.dateCreated}}</b></td>
      <td>{{list.list.length}}</td>
    </tr>
  </table>
  <a class="btn btn-warning btn-xs" href="/#/AddFrequentItem"> Edit Frequent Groceries </a>
  </p>

</div>
