<div class="navbar navbar-default navbar-fixed-top" role="navigation" ng-controller="HeaderCtrl">
  <div class="container">
    <div class="navbar-header">
	  
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" ng-show="showMenu">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button> <a class="navbar-brand" href="#/">My Lazy Grocery App</a>
    </div>
    <div class="collapse navbar-collapse">	 
      <ul class="nav navbar-nav" ng-show="showMenu">
	   <li ng-class="{active:isActive('/')}"><a href="#">Home</a>
        </li>
        <li ng-class="{active:isActive('/FrequentItems')}"><a ng-href="#/Frequent">Got-to-have's</a>
        </li>
		<li ng-class="{active:isActive('/GroceryLists')}"><a ng-href="#/GroceryLists">Old Grocery Lists</a>
        </li>
		<li ng-class="{active:isActive('/settings')}"><a ng-href="#/settings">Settings</a>
        </li>
		<li><a href="javascript:" ng-click="logout()">Logout</a>
      </ul>
    </div>	
  </div>
</div>
