<div class="container" ng-controller="HomeCtrl">
  <div class="page-header">
    <h3> {{ title }}</h3>
  </div>


  <p class="lead">This app is scaffolded by
    <code>slush-ng</code></p>

  <p class="lead">This app uses <code>Bootstrap</code> for styling. If you are looking to add functional Bootstrap components, refer <a href="http://angular-ui.github.io/bootstrap/" target="_blank">UI Bootstrap</a>.
  </p>

  <p class="lead">This app is baked in with
    <ul>
      <li>Gulp - A task runner</li>
      <li>Bower - A client side dependency manager</li>
    </ul>
  </p>

  <p class="lead">This app comes integrated with
    <code>angular-route</code>,
    <code>controllers</code>, a sample
    <code>directive</code> and a sample
    <code>filter</code>
  </p>

  <p class="lead">This app also has a sample <code>factory</code> layer, that can be used to interact with RESTful services (includes an example too).</p>

</div>
