<div class="container" ng-controller="LoginCtrl">
  <div class="col-sm-6 col-sm-offset-3">
    <h1><span class="fa fa-sign-in"></span> Login</h1>	
    <!-- LOGIN FORM -->
        <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" id="email" placeholder="Email" ng-model="user.email">
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control"  id="password" placeholder="Password" ng-model="user.password">
        </div>
        <button type="button" ng-click="login()" class="btn btn-warning btn-lg">Login</button>
    <hr>
    <p>Need an account? <a href="/#/signup">Signup</a></p>
    <p>Or go <a href="/">home</a>.</p>
	</div>
</div>
