<div class="container" ng-controller="SettingsCtrl">
    <div class="col-sm-6 col-sm-offset-3">
        <h1><span class="fa fa-sign-in"></span>Settings</h1>
        <!-- Settings form -->
        <div class="form-group">
            <label>How often would you like your grocery list generated?</label>
            <p>{{shopnFreq}}</p>
        </div>
        <div class="form-group">
            <label>What day of the week will you like to go shopping?</label>
            <p>{{shoppingDay}}</p>
        </div>
        <div class="form-group">
            <label>Would you like an email reminder?</label>
            <p>{{emailReminder}}</p>
        </div>
    <a class="btn btn-warning btn-xs" href="/#/EditSettings"> Edit Settings</a>
    </div>
</div>
