<div class="container" ng-controller="SignupCtrl">  
 <div class="col-sm-6 col-sm-offset-3">

    <h1><span class="fa fa-sign-in"></span> Signup</h1>  

    <!-- Singup fprm -->
        <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" name="email" ng-model="user.email">
        </div>
     <div class="form-group">
         <label>Username</label>
         <input type="text" class="form-control" name="username" ng-model="user.username">
     </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" name="password" ng-model="user.password">
        </div>
		<div class="form-group">
            <label>Re-enter Password</label>
            <input type="password" class="form-control" name="verifyPassword" ng-model="verifyPassword">
        </div>

        <button type="button" class="btn btn-warning btn-lg" ng-click="signup()">Signup</button>
    <hr>

    <p>Already have an account? <a href="/#/login">Login</a></p>
    <p>Or go <a href="/">home</a>.</p>

</div>

</div>
